<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drones PGM Devs</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,700&family=Katibeh&family=Nunito:wght@700&family=Poppins:ital,wght@1,200&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/devs.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--import FontAwesome-->
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>

</head>

<body>
    <!-- corpo do site -->

    <!----------------PRIMEIRSA SESSÃO PAGINA INICIAL-------------------->
    <!------------------------------->

    <!-- abertura da sessão inicial do site, pagina principal -->
    <section class="main-01">
        <!-- topo do site-->
        <nav>
            <!-- area reserva ao botão de navegaçã-->
            <div class="menu-left">
                <!-- logo do lado direito-->
                <h1>Devs / DBAs</h1> <!-- logo do lado direito-->
            </div> <!-- fechamento da div logo-->
            <!------------------------------->
            <!------------------------------->
            <a href="lo" class="sign-in">Meus Dados</a> <!-- botão de cadastro-->

        </nav> <!-- fechamento da area de navegação-->

        <ul>
            <!-- menu lateral -->
            <li><a href="index.html" class="sign">Inicio</a></li> <!-- menu lateral -->
            <li><a href="index-produtos.html" class="sign">Produtos</a></li> <!-- menu lateral -->
            <li><a href="index.planos.html" class="sign">Planos</a></li> <!-- menu lateral -->
            <li><a href="index-cont.html" class="sign">Contato</a></li> <!-- menu lateral -->
            <li><a href="dev.html" class="sign">Devs / DBAs</a></li> <!-- menu lateral -->
        </ul>

        <div class="services-container"> <!-- containers - caixa de produtos -->
            <!------------------------------->
            <!-- primeiro produto -->
            <!------------------------------->
            <div class="s-box-01"> <!-- classe box receber produtos e informações -->
                <div class="s-icon front-icon-0000"></div> <!-- armazenar imagens dos produtos  -->
                    <p><b>Dllacy Lima Jr</b></p> <!-- valor do produto -->
                    <div class="social-icons-000">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>                         
            </div><!-- fechamento da classe do primeiro produto -->

            <!------------------------------->
            <!-- segundo produto -->
            <!------------------------------->

            <div class="s-box-01"> <!-- classe box receber produtos e informações -->
                <div class="s-icon back-icon-1111"></div> <!-- armazenar imagens dos produtos  -->
                    <p><b>Carlos Gabriel Rosa</b></p> <!-- valor do produto -->
                    <div class="social-icons-000">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>  
            </div>  <!-- fechamento da classe do segundo produto -->

        <!------------------------------->
        <!-- terceiro produto -->
        <!------------------------------->

            <div class="s-box-01"> <!-- classe box receber produtos e informações -->
                <div class="s-icon seo-icon-2222"></div> <!-- armazenar imagens dos produtos  -->
                    <p><b>Camila Vidal</b></p> <!-- valor do produto -->
                    <div class="social-icons-000">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>  
            </div> <!-- fechamento da classe do terceiro produto -->

        <!------------------------------->
        <!-- quarto produto -->
        <!------------------------------->

            <div class="s-box-01"> <!-- classe box receber produtos e informações -->
                <div class="s-icon gui-icon-3333"></div> <!-- armazenar imagens dos produtos  -->
                    <p><b>Iris Pinheiro</b></p> <!-- valor do produto -->
                    <div class="social-icons-000">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>  
                    
            </div>  <!-- fechamento da classe do quarto produto -->  


    </section> <!-- fim da primeira sessão do site pagina inicial -->

                <!-- rodapé -->
                <footer>
                    <!---------------------------->
                <div class="dw-footer">
                    <!-- parte 1-->
                        <ul>
                            <h1>Developers Webs</h1> <!--- equipe --->
                                <li><a href="#">Dllacy Lima</a></li>
                                <li><a href="#">Carlos Gabriel</a></li>
                                <li><a href="#">Camila Vidal</a></li>
                                <li><a href="#">Iris Pinheiro</a></li> 
                        </ul>
                
                <!--parte 2-->
                        <ul>
                            <h1>Canais</h1> <!--- canais --->
                                <li><a href="#">Website</a></li>
                                <li><a href="#">Bolgs</a></li>
                        </ul>
            
                <!-- midias sociais -->
                <div class="social">
                    <h1>Midias Sociais</h1>
                        <div class="social-icons">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                </div>

                <!-- pesquisa -->
                    <div class="search">
                        <h1>Obrigado Pela Escolha</h1>
                        <p>Volte Sempre</p>
                    </div>
            </div>
                <!-- fim do site -->
            <p class="copyright">Direitos Reservados - Paragominas - PA</p>
            
            </footer> <!-- fim do site -->

</body>

</html>