<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drone Star PGM INICIO</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--import FontAwesome-->
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>

</head>

<body>
    <!-- corpo do site -->

    <!----------------PRIMEIRSA SESSÃO PAGINA INICIAL-------------------->
    <!------------------------------->

    <!-- abertura da sessão inicial do site, pagina principal -->
    <section class="main">
        <!-- topo do site-->

        <!-- area reserva ao botão de navegaçã-->
        <div class="menu-left">
            <!-- logo do lado direito-->
            <h1>Drone Star PGM</h1> <!-- logo do lado direito-->
            <h2 class="nomeUsuario"></h2>
        </div> <!-- fechamento da div logo-->
        <!------------------------------->
        <!------------------------------->
        <nav>
            <a href="#" class="sign-in js-redirect">Meus Dados</a> <!-- botão de cadastro-->
            <button class="sign-in botao-sair">Sair</button>
        </nav><!-- fechamento da area de navegação-->

        <ul>
            <!-- menu lateral -->
            <li><a href="index.html" class="sign">Inicio</a></li> <!-- menu lateral -->
            <li><a href="index-produtos.html" class="sign">Produtos</a></li> <!-- menu lateral -->
            <li><a href="index.planos.html" class="sign">Planos</a></li> <!-- menu lateral -->
            <li><a href="index-cont.html" class="sign">Contato</a></li> <!-- menu lateral -->
        </ul>

    </section> <!-- fim da primeira sessão do site pagina inicial -->



    <!----------------SEGUNDA SESSÃO PRODUTOS-------------------->
    <!------------------------------->

    <div class="services-container">
        <!-- containers - caixa de produtos -->
        <!------------------------------->
        <!-- primeiro produto -->
        <!------------------------------->
        <div class="s-box">
            <!-- classe box receber produtos e informações -->
            <div class="s-icon front-icon"></div> <!-- armazenar imagens dos produtos  -->
            <a href="#">TL inteligent 30L</a> <!-- titulo do produto -->
            <p>Plano Master</p> <!-- valor do produto -->
            <i class="fa fa-star" aria-hidden="true">
                <!-- icones estrelas avaliação do produto -->
                <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
            </i>
            <button class="service-button">Eu Quero</button> <!-- botão de compra do produto -->
        </div><!-- fechamento da classe do primeiro produto -->

        <!------------------------------->
        <!-- segundo produto -->
        <!------------------------------->

        <div class="s-box">
            <!-- classe box receber produtos e informações -->
            <div class="s-icon back-icon"></div> <!-- armazenar imagens dos produtos  -->
            <a href="#">Sarah Duo Full Magic</a> <!-- titulo do produto -->
            <p>Plano Vip</p> <!-- valor do produto -->
            <i class="fa fa-star" aria-hidden="true">
                <!-- icones estrelas avaliação do produto -->
                <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
            </i>
            <button class="service-button">Eu Quero</button> <!-- botão de compra do produto -->
        </div> <!-- fechamento da classe do segundo produto -->

        <!------------------------------->
        <!-- terceiro produto -->
        <!------------------------------->

        <div class="s-box">
            <!-- classe box receber produtos e informações -->
            <div class="s-icon seo-icon"></div> <!-- armazenar imagens dos produtos  -->
            <a href="#">Flip Show Cloud</a> <!-- titulo do produto -->
            <p>Plano Vip</p> <!-- valor do produto -->
            <i class="fa fa-star" aria-hidden="true">
                <!-- icones estrelas avaliação do produto -->
                <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
            </i>
            <button class="service-button">Eu Quero</button> <!-- botão de compra do produto -->
        </div> <!-- fechamento da classe do terceiro produto -->

        <!------------------------------->
        <!-- quarto produto -->
        <!------------------------------->

        <div class="s-box">
            <!-- classe box receber produtos e informações -->
            <div class="s-icon gui-icon"></div> <!-- armazenar imagens dos produtos  -->
            <a href="#">Quadrocopter One Flip</a> <!-- titulo do produto -->
            <p>Plano Vip</p> <!-- valor do produto -->
            <i class="fa fa-star" aria-hidden="true">
                <!-- icones estrelas avaliação do produto -->
                <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                <i class="fa fa-star" aria-hidden="true"></i>
            </i>
            <button class="service-button">Eu Quero</button> <!-- botão de compra do produto -->
        </div> <!-- fechamento da classe do quarto produto -->

        </section> <!-- fim da segunda sessão, area de produtos -->



        <!----------------TERCEIRA SESSÃO PLANOS-------------------->
        <!------------------------------->

        <section class="palns">
            <!--- titulo e subtitulo da sessão planos---->
            <div class="p-heading">
                <p>Planos exclusivo para agricultores de todo o país</p>
                <!---titulo---->
                <p>Otimize sua pulverização!</p>
                <!---subtitulo---->
            </div>
            <!-------------------->
            <!--containers para receber as informações dos planos-->
            <div class="p-box-conatiner">
                <!--conteiner do primeiro plano-->
                <!--primeiro plano-->
                <div class="p-box">
                    <p class="p-box-heading">Plano VIP Mensal</p> <!-- titulo do plano-->
                    <!-- valor -->
                    <div class="price">
                        <a href="#">R$ 100.00</a>
                        <!--valor -->
                    </div>
                    <!--detalhes do plano-->
                    <p class="p-box-details">Drone de produção de conteudo</p>
                    <!--botão de assinatura-->
                    <button class="price-button">EU QUERO</button>
                </div>
                <!--fechamento da divisão da primeira sessão de planos-->
                <!--fim da primeira divisão de planos-->

                <!-------------------->
                <!-------------------->

                <!--segundo plano-->
                <div class="p-box">
                    <p class="p-box-heading">Plano Top Mensal</p> <!-- titulo do plano-->
                    <!-- valor -->
                    <div class="price">
                        <a href="#">R$ 150.00</a> <!-- valor do plano-->
                    </div>
                    <!-- detalhes do plano-->
                    <p class="p-box-details">Drone de pulverização</p>
                    <!--price-button-->
                    <button class="price-button">EU QUERO</button>
                    <!--botão de assinatura-->
                </div>
                <!--fechamento da divisão da primeira sessão de planos-->
                <!--fim da segunda divisão de planos-->

                <!-------------------->
                <!-------------------->

                <!--terceiro plano-->
                <div class="p-box">
                    <p class="p-box-heading">Plano Master Mensal</p>
                    <!--price-->
                    <div class="price">
                        <a href="#">R$ 200.00</a>
                        <!--valor do plano-->
                    </div>
                    <!--detalhes do plano-->
                    <p class="p-box-details">Drone + Especialista</p>
                    <!--price-button-->
                    <button class="price-button">EU QUERO</button>
                    <!--botão de assinatura-->
                </div>
                <!--fechamento da divisão da primeira sessão de planos-->
            </div>
            <!--fim da terceira divisão de planos-->
        </section>

        <!----------------QUINTA SESSÃO RODAPÉ FINAL DO SITE-------------------->
        <!------------------------------->

        <!-- rodapé -->
        <footer>
            <!---------------------------->
            <div class="dw-footer">
                <!-- parte 1-->
                <ul>
                    <h1>Desenvolvedor</h1>
                    <!--- equipe --->
                    <li><a href="#">Dllacy Lima</a></li>
                </ul>

                <!--parte 2-->
                <ul>
                    <h1>Canais</h1>
                    <!--- canais --->
                    <li><a href="#">Video Tutorial</a></li>
                    <li><a href="#">Website</a></li>
                    <li><a href="#">Bolgs</a></li>
                </ul>

                <!-- midias sociais -->
                <div class="social">
                    <h1>Midias Sociais</h1>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>

                <!-- pesquisa -->
                <div class="search">
                    <h1>Obrigado Pela Escolha</h1>
                    <p>Volte Sempre</p>
                </div>
            </div>
            <!-- fim do site -->
            <p class="copyright">Direitos Reservados - Paragominas - PA</p>

        </footer> <!-- fim do site -->
</body>
<script src="./javascripts/botoesSairEDados.js">
</script>
<script src="./javascripts/nomeUsuario.js"></script>

</html>