<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drone Star PGM INICIO</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--import FontAwesome-->
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>

</head>

<body>
    <!-- corpo do site -->

    <!----------------PRIMEIRSA SESSÃO PAGINA INICIAL-------------------->
    <!------------------------------->

    <!-- abertura da sessão inicial do site, pagina principal -->
    <section class="main">
        <!-- topo do site-->

        <!-- area reserva ao botão de navegaçã-->
        <div class="menu-left">
            <!-- logo do lado direito-->
            <h1>Drone Star PGM</h1> <!-- logo do lado direito-->
            <h2 class="nomeUsuario"></h2>
        </div> <!-- fechamento da div logo-->
        <!------------------------------->
        <!------------------------------->
        <nav>
            <a href="#" class="sign-in js-redirect">Meus Dados</a> <!-- botão de cadastro-->
            <button class="sign-in botao-sair">Sair</button>
        </nav><!-- fechamento da area de navegação-->

        <ul>
            <!-- menu lateral -->
            <li><a href="index.html" class="sign">Inicio</a></li> <!-- menu lateral -->
            <li><a href="index-produtos.html" class="sign">Produtos</a></li> <!-- menu lateral -->
            <li><a href="index.planos.html" class="sign">Planos</a></li> <!-- menu lateral -->
            <li><a href="index-cont.html" class="sign">Contato</a></li> <!-- menu lateral -->
        </ul>

    </section> <!-- fim da primeira sessão do site pagina inicial -->


    <<<<<<< HEAD <!----------------SEGUNDA SESSÃO PRODUTOS-------------------->
        <!------------------------------->
        =======
        <!-- SEGUNDA PARTE DO SITE PAG-01 DISCIPLINAS-->
        <!-- SEGUNDA PARTE DO SITE PAG-01 DISCIPLINAS-->
        <section class="curso">
            <h1 class="area">CONHEÇA NOSSOS CURSOS</h1>
            <div class="container">
                <div class="card">
                    <div class="imagens">
                        <img class="foto" src="img-cursos/engenharia eletrica.jpg" alt="">
                    </div>
                    <div class="texto">
                        <h2 class="text-main">Engenharia Eletrica</h2>
                        <p class="lorem">Duração 5 Anos</p>
                        <div class="estrelas">
                            <i class="fa fa-star"></i> <!-- ICONES -->
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <div class="boton">
                        <button class="btn btn-green"><a href="index-gradu.html">AREA DE CURSOS</a></button>
                    </div>
                </div>
                <div class="card">
                    <div class="imagens">
                        <img class="foto" src="img-cursos/engenharia-1-1.jpg" alt="">
                    </div>
                    <div class="texto">
                        <h2 class="text-main">Engenharia de Software</h2>
                        <p class="lorem">Duração 4 Anos</p>
                        <div class="estrelas">
                            <i class="fa fa-star"></i> <!-- ICONES -->
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <div class="boton">
                        <button class="btn btn-green"><a href="index-gradu.html">AREA DE CURSOS</a></button>
                    </div>
                </div>
                <div class="card">
                    <div class="imagens">
                        <img class="foto" src="img-cursos/engenharia-3.jpg" alt="">
                    </div>
                    <div class="texto">
                        <h2 class="text-main">Engenharia Civil</h2>
                        <p class="lorem">Duração 5 Anos</p>
                        <div class="estrelas">
                            <i class="fa fa-star"></i> <!-- ICONES -->
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                    <div class="boton">
                        <button class="btn btn-green"><a href="index-gradu.html">AREA DE CURSOS</a></button>
                    </div>
                </div>
            </div>
            >>>>>>> 305fdbe98d9a14b3549db496a4311d18d77387a8

            <section class="services">
                <!-- inicio da segunda sessão area de produtos -->
                <div class="s-heading">
                    <!-- classe para receber titulo e subtitulo da segunda sessão -->
                    <p>TOP Custo Beneficios</p> <!-- titulo da segunda sessão -->
                    <p>os mais modernos drones de ultima geração</p> <!-- subtitulo da segunda sessão -->
                </div> <!-- fechamento da classe de titulos da segunda sessão -->

                <!----------------SEGUNDA SESSÃO PRODUTOS-------------------->
                <!------------------------------->

                <div class="services-container">
                    <!-- containers - caixa de produtos -->
                    <!------------------------------->
                    <!-- primeiro produto -->
                    <!------------------------------->
                    <div class="s-box">
                        <!-- classe box receber produtos e informações -->
                        <div class="s-icon front-icon"></div> <!-- armazenar imagens dos produtos  -->
                        <a href="#">TL inteligent 30L</a> <!-- titulo do produto -->
                        <p>Plano Master</p> <!-- valor do produto -->
                        <i class="fa fa-star" aria-hidden="true">
                            <!-- icones estrelas avaliação do produto -->
                            <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                            <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                            <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                            <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                        </i>
                        <button class="service-button">Eu Quero</button> <!-- botão de compra do produto -->
                    </div><!-- fechamento da classe do primeiro produto -->

                    <!------------------------------->
                    <!-- segundo produto -->
                    <!------------------------------->

                    <div class="s-box">
                        <!-- classe box receber produtos e informações -->
                        <div class="s-icon back-icon"></div> <!-- armazenar imagens dos produtos  -->
                        <a href="#">Sarah Duo Full Magic</a> <!-- titulo do produto -->
                        <p>Plano Vip</p> <!-- valor do produto -->
                        <i class="fa fa-star" aria-hidden="true">
                            <!-- icones estrelas avaliação do produto -->
                            <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                            <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                            <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                            <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                        </i>
                        <button class="service-button">Eu Quero</button> <!-- botão de compra do produto -->
                    </div> <!-- fechamento da classe do segundo produto -->

                    <!------------------------------->
                    <!-- terceiro produto -->
                    <!------------------------------->

                    <div class="s-box">
                        <!-- classe box receber produtos e informações -->
                        <div class="s-icon seo-icon"></div> <!-- armazenar imagens dos produtos  -->
                        <a href="#">Flip Show Cloud</a> <!-- titulo do produto -->
                        <p>Plano Vip</p> <!-- valor do produto -->
                        <i class="fa fa-star" aria-hidden="true">
                            <!-- icones estrelas avaliação do produto -->
                            <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                            <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                            <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                            <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                        </i>
                        <button class="service-button">Eu Quero</button> <!-- botão de compra do produto -->
                    </div> <!-- fechamento da classe do terceiro produto -->

                    <!------------------------------->
                    <!-- quarto produto -->
                    <!------------------------------->

                    <div class="s-box">
                        <!-- classe box receber produtos e informações -->
                        <div class="s-icon gui-icon"></div> <!-- armazenar imagens dos produtos  -->
                        <a href="#">Quadrocopter One Flip</a> <!-- titulo do produto -->
                        <p>Plano Vip</p> <!-- valor do produto -->
                        <i class="fa fa-star" aria-hidden="true">
                            <!-- icones estrelas avaliação do produto -->
                            <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                            <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                            <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </i>
                        <button class="service-button">Eu Quero</button> <!-- botão de compra do produto -->
                    </div> <!-- fechamento da classe do quarto produto -->

            </section> <!-- fim da segunda sessão, area de produtos -->



            <!----------------TERCEIRA SESSÃO PLANOS-------------------->
            <!------------------------------->

            <section class="palns">
                <!--- titulo e subtitulo da sessão planos---->
                <div class="p-heading">
                    <p>Planos exclusivo para agricultores de todo o país</p>
                    <!---titulo---->
                    <p>Otimize sua pulverização!</p>
                    <!---subtitulo---->
                </div>
                <<<<<<< HEAD <!-------------------->
                    <!--containers para receber as informações dos planos-->
                    <div class="p-box-conatiner">
                        <!--conteiner do primeiro plano-->
                        <!--primeiro plano-->
                        <div class="p-box">
                            <p class="p-box-heading">Plano VIP Mensal</p> <!-- titulo do plano-->
                            <!-- valor -->
                            <div class="price">
                                <a href="#">R$ 100.00</a>
                                <!--valor -->
                                =======
                                <!--FIM DA LINHA DIVISORIA FIM DA TELA INICIAL -->

                                <!--INICIO DA SESSÃO DE RELATOS -->
                                <!--INICIO DA SESSÃO DE RELATOS -->
                                <section class="pesquisa">
                                    <h1 class="area">GRAU DE SARTISFAÇÃO DOS ALUNOS</h1>
                                    <div class="row-1">
                                        <div class="skill-wrapper">
                                            <div class="skill">
                                                <div id="pie-1" data-percent="96.33"></div>
                                                <p>Engenharia Civil</p>
                                            </div>
                                            <div class="skill">
                                                <div id="pie-2" data-percent="97.71"></div>
                                                <p>Engenharia Mecanica</p>
                                            </div>

                                            <div class="skill">
                                                <div id="pie-3" data-percent="98.06"></div>
                                                <p>Engenharia Florestal</p>
                                            </div>
                                            <div class="skill">
                                                <div id="pie-4" data-percent="99.8"></div>
                                                <p>Engenharia de Software</p>
                                            </div>
                                            >>>>>>> 305fdbe98d9a14b3549db496a4311d18d77387a8
                                        </div>
                                        <!--detalhes do plano-->
                                        <p class="p-box-details">Drone de produção de conteudo</p>
                                        <!--botão de assinatura-->
                                        <button class="price-button">EU QUERO</button>
                                    </div>
                                    <!--fechamento da divisão da primeira sessão de planos-->
                                    <!--fim da primeira divisão de planos-->

                                    <!-------------------->
                                    <!-------------------->

                                    <!--segundo plano-->
                                    <div class="p-box">
                                        <p class="p-box-heading">Plano Top Mensal</p> <!-- titulo do plano-->
                                        <!-- valor -->
                                        <div class="price">
                                            <a href="#">R$ 150.00</a> <!-- valor do plano-->
                                        </div>
                                        <!-- detalhes do plano-->
                                        <p class="p-box-details">Drone de pulverização</p>
                                        <!--price-button-->
                                        <button class="price-button">EU QUERO</button>
                                        <!--botão de assinatura-->
                                    </div>
                                    <!--fechamento da divisão da primeira sessão de planos-->
                                    <!--fim da segunda divisão de planos-->

                                    <!-------------------->
                                    <!-------------------->

                                    <!--terceiro plano-->
                                    <div class="p-box">
                                        <p class="p-box-heading">Plano Master Mensal</p>
                                        <!--price-->
                                        <div class="price">
                                            <a href="#">R$ 200.00</a>
                                            <!--valor do plano-->
                                        </div>
                                        <!--detalhes do plano-->
                                        <p class="p-box-details">Drone + Especialista</p>
                                        <!--price-button-->
                                        <button class="price-button">EU QUERO</button>
                                        <!--botão de assinatura-->
                                    </div>
                                    <!--fechamento da divisão da primeira sessão de planos-->
                            </div>
                            <!--fim da terceira divisão de planos-->
            </section>

            <!----------------QUINTA SESSÃO RODAPÉ FINAL DO SITE-------------------->
            <!------------------------------->

            <!-- rodapé -->
            <footer>
                <!---------------------------->
                <div class="dw-footer">
                    <!-- parte 1-->
                    <ul>
                        <h1>Desenvolvedor</h1>
                        <!--- equipe --->
                        <li><a href="#">Dllacy Lima</a></li>
                    </ul>

                    <<<<<<< HEAD <!--parte 2-->
                        <ul>
                            <h1>Canais</h1>
                            <!--- canais --->
                            <li><a href="#">Video Tutorial</a></li>
                            <li><a href="#">Website</a></li>
                            <li><a href="#">Bolgs</a></li>
                        </ul>

                        <!-- midias sociais -->
                        <div class="social">
                            <h1>Midias Sociais</h1>
                            <div class="social-icons">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                                =======
                                <!-- SESSÃO DE RELATOS -->
                                <!-- SESSÃO DE RELATOS -->
                                <section class="relatos">
                                    <h1 class="area">RELATOS DOS DISCENTES</h1>
                                    <div class="row">
                                        <div class="relatos-coluna">
                                            <img class="fotos" src="imgs/drika.jpg">
                                            <div>
                                                <p>Fazer parte dessa historia é algo extraordinario, estou realizando um
                                                    sonho, engenharia civil
                                                    sempre foi meu sonho de infancia e está podendo cursar o ensino
                                                    superio em uma faculdade
                                                    conhecida internacionalmente é a realização de um sonho.</p>
                                                <h3>Adriely Sales</h3>
                                                <div class="estrelas">
                                                    <i class="fa fa-star"></i> <!-- ICONES -->
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="relatos-coluna">
                                            <img class="fotos" src="imgs/higor araujo.jpg">
                                            <div>
                                                <p>Super recomendado, me formei e em menos de um mes recebi o
                                                    certificado, excelentes
                                                    professores, o aprendizado com pessoas de países diferentes
                                                    simplesmente exapandiu minha
                                                    visão sobre o mercado e as areas de atuação.</p>
                                                <h3>Higor Ribeiro</h3>
                                                <div class="estrelas">
                                                    <i class="fa fa-star"></i> <!-- ICONES -->
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                            >>>>>>> 305fdbe98d9a14b3549db496a4311d18d77387a8
                                        </div>
                                    </div>

                                    <!-- pesquisa -->
                                    <div class="search">
                                        <h1>Obrigado Pela Escolha</h1>
                                        <p>Volte Sempre</p>
                                    </div>
                            </div>
                            <!-- fim do site -->
                            <p class="copyright">Direitos Reservados - Paragominas - PA</p>

            </footer> <!-- fim do site -->

            <<<<<<< HEAD <script src="./javascripts/botoesSairEDados.js">
                </script>
                <script src="./javascripts/nomeUsuario.js"></script>
                =======
                <!-- FINAL DO SITE PAG-01 RODAPÉ -->
                <!-- FINAL DO SITE PAG-01 RODAPÉ -->
                <section class="rodape">
                    <!-- FINAL DO SITE PAG-01 RODAPÉ -->
                    <div class="contato">
                        <h1>FALE CONOSCO</h1>
                        <a href="https://api.whatsapp.com/send?phone=55919999999999999&text=Seja bem vindo a central de atendimento da Faculdade Internacional do Pará ( FIP )"
                            target="_blank">
                            <svg enable-background="new 0 0 512 512" width="50" height="50" version="1.1"
                                viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M256.064,0h-0.128l0,0C114.784,0,0,114.816,0,256c0,56,18.048,107.904,48.736,150.048l-31.904,95.104  l98.4-31.456C155.712,496.512,204,512,256.064,512C397.216,512,512,397.152,512,256S397.216,0,256.064,0z"
                                    fill="#4CAF50" />
                                <path
                                    d="m405.02 361.5c-6.176 17.44-30.688 31.904-50.24 36.128-13.376 2.848-30.848 5.12-89.664-19.264-75.232-31.168-123.68-107.62-127.46-112.58-3.616-4.96-30.4-40.48-30.4-77.216s18.656-54.624 26.176-62.304c6.176-6.304 16.384-9.184 26.176-9.184 3.168 0 6.016 0.16 8.576 0.288 7.52 0.32 11.296 0.768 16.256 12.64 6.176 14.88 21.216 51.616 23.008 55.392 1.824 3.776 3.648 8.896 1.088 13.856-2.4 5.12-4.512 7.392-8.288 11.744s-7.36 7.68-11.136 12.352c-3.456 4.064-7.36 8.416-3.008 15.936 4.352 7.36 19.392 31.904 41.536 51.616 28.576 25.44 51.744 33.568 60.032 37.024 6.176 2.56 13.536 1.952 18.048-2.848 5.728-6.176 12.8-16.416 20-26.496 5.12-7.232 11.584-8.128 18.368-5.568 6.912 2.4 43.488 20.48 51.008 24.224 7.52 3.776 12.48 5.568 14.304 8.736 1.792 3.168 1.792 18.048-4.384 35.52z"
                                    fill="#FAFAFA" />
                            </svg>
                        </a>
                    </div>
                    <h4>Midias Socias</h4>
                    <!-- não estar fazendo a leitura dos icones-->
                    <div class="icons">
                        <a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
                        <a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
                        <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
                    </div>
                    <p>Direitos Reservados 2022 - Paragominas - PA</p>
                </section> <!-- FINAL DO SITE PAG-01 RODAPÉ -->
                <!-- FINAL DO SITE PAG-01 RODAPÉ -->
                <!-- FINAL DO SITE PAG-01 RODAPÉ -->


                </div>

                >>>>>>> 305fdbe98d9a14b3549db496a4311d18d77387a8
</body>

</html>