<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drones PGM Produtos</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--import FontAwesome-->
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- corpo do site -->

    <!----------------PRIMEIRSA SESSÃO PAGINA INICIAL-------------------->
    <!------------------------------->

    <!-- abertura da sessão inicial do site, pagina principal -->
    <section class="main-01">
        <!-- topo do site-->
        <nav>
            <!-- area reserva ao botão de navegaçã-->
            <div class="menu-left">
                <!-- logo do lado direito-->
                <h1>Produtos</h1> <!-- logo do lado direito-->
            </div> <!-- fechamento da div logo-->
            <!------------------------------->
            <!------------------------------->
            <a href="login.html" class="sign-in">Meus Dados</a> <!-- botão de cadastro-->

        </nav> <!-- fechamento da area de navegação-->

        <ul>
            <!-- menu lateral -->
            <li><a href="index.html" class="sign">Inicio</a></li> <!-- menu lateral -->
            <li><a href="index-produtos.html" class="sign">Produtos</a></li> <!-- menu lateral -->
            <li><a href="index.planos.html" class="sign">Planos</a></li> <!-- menu lateral -->
            <li><a href="index-cont.html" class="sign">Contato</a></li> <!-- menu lateral -->
            <li><a href="dev.html" class="sign">Devs / DBAs</a></li> <!-- menu lateral -->
        </ul>

    </section> <!-- fim da primeira sessão do site pagina inicial -->


    <!------------- SESSÃO PLANOS--------------->
    <!------------------------------->

    <section class="services">
        <!-- inicio da segunda sessão area de produtos -->
        <div class="s-heading">
            <!-- classe para receber titulo e subtitulo da segunda sessão -->
            <p>Produtos no Plano Vip</p> <!-- titulo da segunda sessão -->
            <p>Ideal para produtores de conteúdos, fotografos, desing e muito mais</p>
            <!-- subtitulo da segunda sessão -->
        </div> <!-- fechamento da classe de titulos da segunda sessão -->

        <!---------------- primeira area dos planos -------------------->
        <!------------------------------->

        <div class="services-container">
            <!-- containers - caixa de produtos -->
            <!------------------------------->
            <!-- primeiro produto -->
            <!------------------------------->
            <div class="s-box">
                <!-- classe box receber produtos e informações -->
                <div class="s-icon front-icon-11"></div> <!-- armazenar imagens dos produtos  -->
                <a href="#">Drone For Premiun</a> <!-- titulo do produto -->
                <p>Plano Vip</p> <!-- valor do produto -->
                <i class="fa fa-star" aria-hidden="true">
                    <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                </i>
                <a href="formulario.html" class="btn-acesso">Eu Quero</a> <!-- botão de compra do produto -->
            </div><!-- fechamento da classe do primeiro produto -->

            <!------------------------------->
            <!-- segundo produto -->
            <!------------------------------->

            <div class="s-box">
                <!-- classe box receber produtos e informações -->
                <div class="s-icon front-icon-12"></div> <!-- armazenar imagens dos produtos  -->
                <a href="#">Filmage 778 Fly</a> <!-- titulo do produto -->
                <p>Plano Vip</p> <!-- valor do produto -->
                <i class="fa fa-star" aria-hidden="true">
                    <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                </i>
                <a href="formulario.html" class="btn-acesso">EU QUERO</a> <!-- botão de compra do produto -->
            </div> <!-- fechamento da classe do segundo produto -->


            <!------------------------------->
            <!-- terceiro produto -->
            <!------------------------------->

            <div class="s-box">
                <!-- classe box receber produtos e informações -->
                <div class="s-icon front-icon-13"></div> <!-- armazenar imagens dos produtos  -->
                <a href="#">Dark Photografic Power</a> <!-- titulo do produto -->
                <p>Plano Vip</p> <!-- valor do produto -->
                <i class="fa fa-star" aria-hidden="true">
                    <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                </i>
                <a href="formulario.html" class="btn-acesso">EU QUERO</a> <!-- botão de compra do produto -->
            </div> <!-- fechamento da classe do terceiro produto -->

            <!------------------------------->
            <!-- quarto produto -->
            <!------------------------------->

            <div class="s-box">
                <!-- classe box receber produtos e informações -->
                <div class="s-icon front-icon-14"></div> <!-- armazenar imagens dos produtos  -->
                <a href="#">Flip Show Cloud</a> <!-- titulo do produto -->
                <p>Plano Vip</p> <!-- valor do produto -->
                <i class="fa fa-star" aria-hidden="true">
                    <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                </i>
                <a href="formulario.html" class="btn-acesso">EU QUERO</a> <!-- botão de compra do produto -->
            </div> <!-- fechamento da classe do quarto produto -->

    </section> <!-- fim da segunda sessão, area de produtos -->

    <!---------------- segunda area dos planos -------------------->
    <!------------------------------->

    <section class="services">
        <!-- inicio da segunda sessão area de produtos -->

        <!----------SESSÃO DO MEIO-------------------->
        <!------------------------------->

        <div class="services-container">
            <!-- containers - caixa de produtos -->
            <!------------------------------->
            <!-- primeiro produto -->
            <!------------------------------->
            <div class="s-box">
                <!-- classe box receber produtos e informações -->
                <div class="s-icon front-icon"></div> <!-- armazenar imagens dos produtos  -->
                <a href="#">Drone DJI Mini 1</a> <!-- titulo do produto -->
                <p>Plano Vip</p> <!-- valor do produto -->
                <i class="fa fa-star" aria-hidden="true">
                    <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                </i>
                <a href="formulario.html" class="btn-acesso">EU QUERO</a> <!-- botão de compra do produto -->
            </div><!-- fechamento da classe do primeiro produto -->

            <!------------------------------->
            <!-- segundo produto -->
            <!------------------------------->

            <div class="s-box">
                <!-- classe box receber produtos e informações -->
                <div class="s-icon back-icon"></div> <!-- armazenar imagens dos produtos  -->
                <a href="#">Sarah Duo Full Magic</a> <!-- titulo do produto -->
                <p>Plano Vip</p> <!-- valor do produto -->
                <i class="fa fa-star" aria-hidden="true">
                    <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                </i>
                <a href="formulario.html" class="btn-acesso">EU QUERO</a> <!-- botão de compra do produto -->
            </div> <!-- fechamento da classe do segundo produto -->

            <!------------------------------->
            <!-- terceiro produto -->
            <!------------------------------->

            <div class="s-box">
                <!-- classe box receber produtos e informações -->
                <div class="s-icon seo-icon"></div> <!-- armazenar imagens dos produtos  -->
                <a href="#">R3 Falcon HD</a> <!-- titulo do produto -->
                <p>Plano Vip</p> <!-- valor do produto -->
                <i class="fa fa-star" aria-hidden="true">
                    <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                </i>
                <a href="formulario.html" class="btn-acesso">EU QUERO</a> <!-- botão de compra do produto -->
            </div> <!-- fechamento da classe do terceiro produto -->

            <!------------------------------->
            <!-- quarto produto -->
            <!------------------------------->

            <div class="s-box">
                <!-- classe box receber produtos e informações -->
                <div class="s-icon gui-icon"></div> <!-- armazenar imagens dos produtos  -->
                <a href="#">Quadrocopter One Flip</a> <!-- titulo do produto -->
                <p>Plano Vip</p> <!-- valor do produto -->
                <i class="fa fa-star" aria-hidden="true">
                    <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                </i>
                <a href="formulario.html" class="btn-acesso">EU QUERO</a> <!-- botão de compra do produto -->
            </div> <!-- fechamento da classe do quarto produto -->

    </section> <!-- fim da segunda sessão, area de produtos -->

    <!----------------------------------->
    <section class="services">
        <!-- inicio da segunda sessão area de produtos -->
        <div class="s-heading">
            <!-- classe para receber titulo e subtitulo da segunda sessão -->
            <p>Produtos Plano Top</p> <!-- titulo da segunda sessão -->
            <p>Exclusivo para o agronegocio, pois entendemos que a agricultura tem seu valor</p>
            <!-- subtitulo da segunda sessão -->
        </div> <!-- fechamento da classe de titulos da segunda sessão -->

        <!----------------SEGUNDA SESSÃO PRODUTOS-------------------->
        <!------------------------------->

        <div class="services-container">
            <!-- containers - caixa de produtos -->
            <!------------------------------->
            <!-- primeiro produto -->
            <!------------------------------->
            <div class="s-box">
                <!-- classe box receber produtos e informações -->
                <div class="s-icon front-icon-400"></div> <!-- armazenar imagens dos produtos  -->
                <a href="#">DJI agricola 20L</a> <!-- titulo do produto -->
                <p>Plano Top</p> <!-- valor do produto -->
                <i class="fa fa-star" aria-hidden="true">
                    <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                </i>
                <a href="formulario.html" class="btn-acesso">EU QUERO</a> <!-- botão de compra do produto -->
            </div><!-- fechamento da classe do primeiro produto -->

            <!------------------------------->
            <!-- segundo produto -->
            <!------------------------------->

            <div class="s-box">
                <!-- classe box receber produtos e informações -->
                <div class="s-icon back-icon-400"></div> <!-- armazenar imagens dos produtos  -->
                <a href="#">TL inteligent 30L</a> <!-- titulo do produto -->
                <p>Plano Top</p> <!-- valor do produto -->
                <i class="fa fa-star" aria-hidden="true">
                    <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                </i>
                <a href="formulario.html" class="btn-acesso">EU QUERO</a> <!-- botão de compra do produto -->
            </div> <!-- fechamento da classe do segundo produto -->

            <!------------------------------->
            <!-- terceiro produto -->
            <!------------------------------->

            <div class="s-box">
                <!-- classe box receber produtos e informações -->
                <div class="s-icon seo-icon-400"></div> <!-- armazenar imagens dos produtos  -->
                <a href="#">Hay Say 2022 - 30L</a> <!-- titulo do produto -->
                <p>Plano Top</p> <!-- valor do produto -->
                <i class="fa fa-star" aria-hidden="true">
                    <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                </i>
                <a href="formulario.html" class="btn-acesso">EU QUERO</a> <!-- botão de compra do produto -->
            </div> <!-- fechamento da classe do terceiro produto -->

            <!------------------------------->
            <!-- quarto produto -->
            <!------------------------------->

            <div class="s-box">
                <!-- classe box receber produtos e informações -->
                <div class="s-icon gui-icon-400"></div> <!-- armazenar imagens dos produtos  -->
                <a href="#">Quadrocopter TS 20L</a> <!-- titulo do produto -->
                <p>Plano Vip</p> <!-- valor do produto -->
                <i class="fa fa-star" aria-hidden="true">
                    <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i>
                </i>
                <a href="formulario.html" class="btn-acesso">EU QUERO</a> <!-- botão de compra do produto -->
            </div> <!-- fechamento da classe do quarto produto -->

    </section> <!-- fim da segunda sessão, area de produtos -->

    <!------------------------------->

    <section class="services">
        <!-- inicio da segunda sessão area de produtos -->
        <div class="s-heading">
            <!-- classe para receber titulo e subtitulo da segunda sessão -->
            <p>Produtos no Plano Master</p> <!-- titulo da segunda sessão -->
            <p>Com um especialista disponivel, para atender suas demandas e necessidades</p>
            <!-- subtitulo da segunda sessão -->
        </div> <!-- fechamento da classe de titulos da segunda sessão -->

        <!---------------- terceira area dos planos -------------------->
        <!------------------------------->

        <div class="services-container">
            <!-- containers - caixa de produtos -->
            <!------------------------------->
            <!-- primeiro produto -->
            <!------------------------------->
            <div class="s-box">
                <!-- classe box receber produtos e informações -->
                <div class="s-icon front-icon-001"></div> <!-- armazenar imagens dos produtos  -->
                <a href="#">Drone DJI Mini 2</a> <!-- titulo do produto -->
                <p>Plano Master</p> <!-- valor do produto -->
                <i class="fa fa-star" aria-hidden="true">
                    <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                </i>
                <a href="formulario.html" class="btn-acesso">EU QUERO</a> <!-- botão de compra do produto -->
            </div><!-- fechamento da classe do primeiro produto -->

            <!------------------------------->
            <!-- segundo produto -->
            <!------------------------------->

            <div class="s-box">
                <!-- classe box receber produtos e informações -->
                <div class="s-icon back-icon-002"></div> <!-- armazenar imagens dos produtos  -->
                <a href="#">Sarah Duo Full Magic 2</a> <!-- titulo do produto -->
                <p>Plano Master</p> <!-- valor do produto -->
                <i class="fa fa-star" aria-hidden="true">
                    <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                </i>
                <a href="formulario.html" class="btn-acesso">EU QUERO</a>
            </div> <!-- fechamento da classe do segundo produto -->

            <!------------------------------->
            <!-- terceiro produto -->
            <!------------------------------->

            <div class="s-box">
                <!-- classe box receber produtos e informações -->
                <div class="s-icon seo-icon-003"></div> <!-- armazenar imagens dos produtos  -->
                <a href="#">R3 Falcon HD 2</a> <!-- titulo do produto -->
                <p>Plano Master</p> <!-- valor do produto -->
                <i class="fa fa-star" aria-hidden="true">
                    <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                </i>
                <a href="formulario.html" class="btn-acesso">EU QUERO</a>

            </div> <!-- fechamento da classe do terceiro produto -->

            <!------------------------------->
            <!-- quarto produto -->
            <!------------------------------->

            <div class="s-box">
                <!-- classe box receber produtos e informações -->
                <div class="s-icon gui-icon-004"></div> <!-- armazenar imagens dos produtos  -->
                <a href="#">Quadrocopter One</a> <!-- titulo do produto -->
                <p>Plano Master</p> <!-- valor do produto -->
                <i class="fa fa-star" aria-hidden="true">
                    <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                </i>
                <a href="formulario.html" class="btn-acesso">EU QUERO</a>
            </div> <!-- fechamento da classe do quarto produto -->

    </section> <!-- fim da segunda sessão, area de produtos -->

    <!-- rodapé -->
    <footer>
        <!---------------------------->
        <div class="dw-footer">
            <!-- parte 1-->
            <ul>
                <h1>Developers Webs</h1>
                <!--- equipe --->
                    <li><a href="#">Dllacy Lima</a></li>
                    <li><a href="#">Carlos Gabriel</a></li>
                    <li><a href="#">Camila Vidal</a></li>
                    <li><a href="#">Iris Pinheiro</a></li> 
            </ul>

            <!--parte 2-->
            <ul>
                <h1>Canais</h1>
                <!--- canais --->
                <li><a href="#">Website</a></li>
                <li><a href="#">Bolgs</a></li>
            </ul>

            <!-- midias sociais -->
            <div class="social">
                <h1>Midias Sociais</h1>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>

            <!-- pesquisa -->
            <div class="search">
                <h1>Obrigado Pela Escolha</h1>
                <p>Volte Sempre</p>
            </div>
        </div>
        <!-- fim do site -->
        <p class="copyright">Direitos Reservados - Paragominas - PA</p>

    </footer> <!-- fim do site -->

</body>

</html>