<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drones PGM Inicio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--import FontAwesome-->
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>

</head>

<body>
    <!-- corpo do site -->

    <!----------------PRIMEIRSA SESSÃO PAGINA INICIAL-------------------->
    <!------------------------------->

    <!-- abertura da sessão inicial do site, pagina principal -->
    <section class="main">
        <!-- topo do site-->

        <!-- area reserva ao botão de navegaçã-->
        <div class="menu-left">
            <!-- logo do lado direito-->
            <h1>Drones PGM</h1> <!-- logo do lado direito-->
            <h2 class="nomeUsuario"></h2>
        </div> <!-- fechamento da div logo-->
        <!------------------------------->
        <!------------------------------->
        <nav>
            <a class="sign-in js-redirect">Meus Dados</a> <!-- botão de cadastro-->
            <button class="sign-in botao-sair">Sair</button>
        </nav><!-- fechamento da area de navegação-->

        <ul>
            <!-- menu lateral -->
            <li><a href="index.html" class="sign">Inicio</a></li> <!-- menu lateral -->
            <li><a href="index-produtos.html" class="sign">Produtos</a></li> <!-- menu lateral -->
            <li><a href="index.planos.html" class="sign">Planos</a></li> <!-- menu lateral -->
            <li><a href="index-cont.html" class="sign">Contato</a></li> <!-- menu lateral -->
            <li><a href="dev.html" class="sign">Devs / DBAs</a></li> <!-- menu lateral -->
        </ul>


    </section> <!-- fim da primeira sessão do site pagina inicial -->



    <!----------------SEGUNDA SESSÃO PRODUTOS-------------------->
    <!------------------------------->
    <!----------------SEGUNDA SESSÃO PRODUTOS-------------------->
    <!------------------------------->

    <section class="services">
        <!-- inicio da segunda sessão area de produtos -->
        <div class="s-heading">
            <!-- classe para receber titulo e subtitulo da segunda sessão -->
            <p>TOP Custo Beneficios</p> <!-- titulo da segunda sessão -->
            <p>os mais modernos drones de ultima geração</p> <!-- subtitulo da segunda sessão -->
        </div> <!-- fechamento da classe de titulos da segunda sessão -->

        <!----------------SEGUNDA SESSÃO PRODUTOS-------------------->
        <!------------------------------->

        <div class="services-container">
            <!-- containers - caixa de produtos -->
            <!------------------------------->
            <!-- primeiro produto -->
            <!------------------------------->
            <div class="s-box">
                <!-- classe box receber produtos e informações -->
                <div class="s-icon front-icon"></div> <!-- armazenar imagens dos produtos  -->
                <p class="p-box-details"><b>TL inteligent 30L</b></p><!-- titulo do produto -->
                <p>Plano Master</p> <!-- valor do produto -->
                <i class="fa fa-star" aria-hidden="true">
                    <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                </i>
                <a href="formulario.html" class="btn-acesso">Eu Quero</a>

            </div><!-- fechamento da classe do primeiro produto -->

            <!------------------------------->
            <!-- segundo produto -->
            <!------------------------------->

            <div class="s-box">
                <!-- classe box receber produtos e informações -->
                <div class="s-icon back-icon"></div> <!-- armazenar imagens dos produtos  -->
                <p class="p-box-details"><b>Sarah Duo Full Magic</b></p>
                <p>Plano Vip</p> <!-- valor do produto -->
                <i class="fa fa-star" aria-hidden="true">
                    <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                </i>
                <a href="formulario.html" class="btn-acesso">Eu Quero</a> <!-- botão de compra do produto -->
            </div> <!-- fechamento da classe do segundo produto -->

            <!------------------------------->
            <!-- terceiro produto -->
            <!------------------------------->

            <div class="s-box">
                <!-- classe box receber produtos e informações -->
                <div class="s-icon seo-icon"></div> <!-- armazenar imagens dos produtos  -->
                <p class="p-box-details"><b>Flip Show Cloud</b></p>
                <p>Plano Vip</p> <!-- valor do produto -->
                <i class="fa fa-star" aria-hidden="true">
                    <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                </i>
                <a href="formulario.html" class="btn-acesso">Eu Quero</a> <!-- botão de compra do produto -->
            </div> <!-- fechamento da classe do terceiro produto -->

            <!------------------------------->
            <!-- quarto produto -->
            <!------------------------------->

            <div class="s-box">
                <!-- classe box receber produtos e informações -->
                <div class="s-icon gui-icon"></div> <!-- armazenar imagens dos produtos  -->
                <p class="p-box-details"><b>Quadrocopter One Flip</b></p>
                <p>Plano Vip</p> <!-- valor do produto -->
                <i class="fa fa-star" aria-hidden="true">
                    <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i> <!-- icones estrelas avaliação do produto -->
                    <i class="fa fa-star" aria-hidden="true"></i>
                </i>
                <a href="formulario.html" class="btn-acesso">Eu Quero</a><!-- botão de compra do produto -->
            </div> <!-- fechamento da classe do quarto produto -->

    </section> <!-- fim da segunda sessão, area de produtos -->



    <!----------------TERCEIRA SESSÃO PLANOS-------------------->
    <!------------------------------->

    <section class="palns">
        <!--- titulo e subtitulo da sessão planos---->
        <div class="p-heading">
            <p>Planos exclusivo para agricultores de todo o país</p>
            <!---titulo---->
            <p>Otimize sua pulverização!</p>
            <!---subtitulo---->
        </div>
        <!-------------------->
        <!--containers para receber as informações dos planos-->
        <div class="p-box-conatiner">
            <!--conteiner do primeiro plano-->
            <!--primeiro plano-->
            <div class="p-box">
                <p class="p-box-heading">Plano VIP Mensal</p> <!-- titulo do plano-->
                <!-- valor -->
                <div class="price">
                    <a href="formulario.html">R$ 100.00</a>
                    <!--valor -->
                </div>
                <!--detalhes do plano-->
                <p class="p-box-details">Drone de produção de conteudo</p>
                <!--botão de assinatura-->
                <a href="formulario.html" class="btn-acesso">Eu Quero</a>
            </div>
            <!--fechamento da divisão da primeira sessão de planos-->
            <!--fim da primeira divisão de planos-->

            <!-------------------->
            <!-------------------->

            <!--segundo plano-->
            <div class="p-box">
                <p class="p-box-heading">Plano Top Mensal</p> <!-- titulo do plano-->
                <!-- valor -->
                <div class="price">
                    <a href="formulario.html">R$ 150.00</a> <!-- valor do plano-->
                </div>
                <!-- detalhes do plano-->
                <p class="p-box-details">Drone de pulverização</p>
                <!--price-button-->
                <a href="formulario.html" class="btn-acesso">Eu Quero</a>
                <!--botão de assinatura-->
            </div>
            <!--fechamento da divisão da primeira sessão de planos-->
            <!--fim da segunda divisão de planos-->

            <!-------------------->
            <!-------------------->

            <!--terceiro plano-->
            <div class="p-box">
                <p class="p-box-heading">Plano Master Mensal</p>
                <!--price-->
                <div class="price">
                    <a href="formulario.html">R$ 200.00</a>
                    <!--valor do plano-->
                </div>
                <!--detalhes do plano-->
                <p class="p-box-details">Drone + Especialista</p>
                <!--price-button-->
                <a href="formulario.html" class="btn-acesso">Eu Quero</a>
                <!--botão de assinatura-->
            </div>
            <!--fechamento da divisão da primeira sessão de planos-->
        </div>
        <!--fim da terceira divisão de planos-->
    </section>

    <!----------------QUINTA SESSÃO RODAPÉ FINAL DO SITE-------------------->
    <!------------------------------->

    <!-- rodapé -->
    <footer>
        <!---------------------------->
        <div class="dw-footer">
            <!-- parte 1-->
            <ul>
                <h1>Developers Webs</h1>
                <!--- equipe --->
                <li><a href="#">Dllacy Lima</a></li>
                <li><a href="#">Carlos Gabriel</a></li>
                <li><a href="#">Camila Vidal</a></li>
                <li><a href="#">Iris Pinheiro</a></li>
            </ul>

            <!--parte 2-->
            <ul>
                <h1>Canais</h1>
                <!--- canais --->
                <li><a href="#">Website</a></li>
                <li><a href="#">Bolgs</a></li>
            </ul>

            <!-- midias sociais -->
            <div class="social">
                <h1>Midias Sociais</h1>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>

            <!-- pesquisa -->
            <div class="search">
                <h1>Whatssapp</h1>
                <p><a href="https://api.whatsapp.com/send?phone=5591999999999&text=Seja bem vindo a central de atendimento Drones Paragominas( FIP )"
                        target="_blank">
                        <svg enable-background="new 0 0 512 512" width="35" height="35" version="1.1"
                            viewBox="0 0 512 512" xml:space="fixed" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M256.064,0h-0.128l0,0C114.784,0,0,114.816,0,256c0,56,18.048,107.904,48.736,150.048l-31.904,95.104  l98.4-31.456C155.712,496.512,204,512,256.064,512C397.216,512,512,397.152,512,256S397.216,0,256.064,0z"
                                fill="#4CAF50" />
                            <path
                                d="m405.02 361.5c-6.176 17.44-30.688 31.904-50.24 36.128-13.376 2.848-30.848 5.12-89.664-19.264-75.232-31.168-123.68-107.62-127.46-112.58-3.616-4.96-30.4-40.48-30.4-77.216s18.656-54.624 26.176-62.304c6.176-6.304 16.384-9.184 26.176-9.184 3.168 0 6.016 0.16 8.576 0.288 7.52 0.32 11.296 0.768 16.256 12.64 6.176 14.88 21.216 51.616 23.008 55.392 1.824 3.776 3.648 8.896 1.088 13.856-2.4 5.12-4.512 7.392-8.288 11.744s-7.36 7.68-11.136 12.352c-3.456 4.064-7.36 8.416-3.008 15.936 4.352 7.36 19.392 31.904 41.536 51.616 28.576 25.44 51.744 33.568 60.032 37.024 6.176 2.56 13.536 1.952 18.048-2.848 5.728-6.176 12.8-16.416 20-26.496 5.12-7.232 11.584-8.128 18.368-5.568 6.912 2.4 43.488 20.48 51.008 24.224 7.52 3.776 12.48 5.568 14.304 8.736 1.792 3.168 1.792 18.048-4.384 35.52z"
                                fill="#FAFAFA" />
                        </svg></p>
            </div>
        </div>
        <!-- fim do site -->
        <p class="copyright">Direitos Reservados - Paragominas - PA</p>

    </footer> <!-- fim do site -->
</body>
<script src="./javascripts/botoesSairEDados.js">
</script>
<script src="./javascripts/nomeUsuario.js"></script>

</html>