<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drones PGM Planos</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--import FontAwesome-->
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>

</head>

<body>
    <!-- corpo do site -->

    <!----------------PRIMEIRSA SESSÃO PAGINA INICIAL-------------------->
    <!------------------------------->

    <!-- abertura da sessão inicial do site, pagina principal -->
    <section class="main-02">
        <!-- topo do site-->
        <nav>
            <!-- area reserva ao botão de navegaçã-->
            <div class="menu-left">
                <!-- logo do lado direito-->
                <h1>Planos</h1> <!-- logo do lado direito-->
            </div> <!-- fechamento da div logo-->
            <!------------------------------->
            <!------------------------------->
            <a href="login.html" class="sign-in js-redirect">Meus Dados</a> <!-- botão de cadastro-->

        </nav> <!-- fechamento da area de navegação-->

        <ul>
            <!-- menu lateral -->
            <li><a href="index.html" class="sign">Inicio</a></li> <!-- menu lateral -->
            <li><a href="index-produtos.html" class="sign">Produtos</a></li> <!-- menu lateral -->
            <li><a href="index.planos.html" class="sign">Planos</a></li> <!-- menu lateral -->
            <li><a href="index-cont.html" class="sign">Contato</a></li> <!-- menu lateral -->
            <li><a href="dev.html" class="sign">Devs / DBAs</a></li> <!-- menu lateral -->
        </ul>

    </section> <!-- fim da primeira sessão do site pagina inicial -->


    <!----------------TERCEIRA SESSÃO PLANOS-------------------->
    <!------------------------------->

    <section class="palns">
        <!--- titulo e subtitulo da sessão planos---->
        <div class="p-heading">
            <p>Planos ideias para sua necessidade</p>
            <!---titulo---->
            <p>cobertura em todo territorio nacional</p>
            <!---subtitulo---->
        </div>
        <!-------------------->
        <!--containers para receber as informações dos planos-->
        <div class="p-box-conatiner">
            <!--conteiner do primeiro plano-->
            <!--primeiro plano-->
            <div class="p-box">
                <p class="p-box-heading">Plano VIP Mensal</p> <!-- titulo do plano-->
                <!-- valor -->
                <div class="price">
                    <a href="#">R$ 100.00</a>
                    <!--valor -->
                </div>
                <!--detalhes do plano-->
                <p class="p-box-details">Drones perfeitos para produções cinematograficas e fotos areas em 4k <br> Em um
                    fim de semana da sua escolha</p>
                <!--botão de assinatura-->
                <a href="formulario.html" class="btn-acesso-01">Eu Quero</a>
            </div>
            <!--fechamento da divisão da primeira sessão de planos-->
            <!--fim da primeira divisão de planos-->

            <!-------------------->
            <!-------------------->

            <!--segundo plano-->
            <div class="p-box">
                <p class="p-box-heading">Plano Top Mensal</p> <!-- titulo do plano-->
                <!-- valor -->
                <div class="price">
                    <a href="#">R$ 150.00</a> <!-- valor do plano-->
                </div>
                <!-- detalhes do plano-->
                <p class="p-box-details">Voce e o agronegocio aqui, facilite seu processo de pulverização a cada dois
                    finais de semana</p>
                <!--price-button-->
                <a href="formulario.html" class="btn-acesso-01">Eu Quero</a>
                <!--botão de assinatura-->
            </div>
            <!--fechamento da divisão da primeira sessão de planos-->
            <!--fim da segunda divisão de planos-->

            <!-------------------->
            <!-------------------->

            <!--terceiro plano-->
            <div class="p-box">
                <p class="p-box-heading">Plano Master Mensal</p>
                <!--price-->
                <div class="price">
                    <a href="#">R$ 200.00</a>
                    <!--valor do plano-->
                </div>
                <!--detalhes do plano-->
                <p class="p-box-details">No plano master além do drone de sua escolha, um profissional é disponibilizado
                    para fazer as imagens ou a sua pulverização</p>
                <!--price-button-->
                <a href="formulario.html" class="btn-acesso-01">Eu Quero</a>
                <!--botão de assinatura-->
            </div>
            <!--fechamento da divisão da primeira sessão de planos-->
        </div>
        <!--fim da terceira divisão de planos-->
    </section>

    <!----------------QUINTA SESSÃO RODAPÉ FINAL DO SITE-------------------->
    <!------------------------------->

    <!-- rodapé -->
    <footer>
        <!---------------------------->
        <div class="dw-footer">
            <!-- parte 1-->
            <ul>
                <h1>Developers Webs</h1>
                <!--- equipe --->
                    <li><a href="#">Dllacy Lima</a></li>
                    <li><a href="#">Carlos Gabriel</a></li>
                    <li><a href="#">Camila Vidal</a></li>
                    <li><a href="#">Iris Pinheiro</a></li>
            </ul>

            <!--parte 2-->
            <ul>
                <h1>Canais</h1>
                <!--- canais --->
                <li><a href="#">Website</a></li>
                <li><a href="#">Bolgs</a></li>
            </ul>

            <!-- midias sociais -->
            <div class="social">
                <h1>Midias Sociais</h1>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>

            <!-- pesquisa -->
            <div class="search">
                <h1>Obrigado Pela Escolha</h1>
                <p>Volte Sempre</p>
            </div>
        </div>
        <!-- fim do site -->
        <p class="copyright">Direitos Reservados - Paragominas - PA</p>

    </footer> <!-- fim do site -->

</body>

</html>