<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>Fip Inicio</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script> <!-- code para trabalhar circulos -->
    <script src="https://teobais.github.io/percircle/dist/js/percircle.js"></script>
    <!-- code para trabalhar circulos -->
    <link rel="stylesheet" href="https://teobais.github.io/percircle/dist/css/percircle.css">
    <!-- code para trabalhar circulos -->
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.es.gov.br/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/estilo.css">
    <link rel="stylesheet" href="./css/estilo-slider.css">
    <link rel="stylesheet" href="./css/estilo-relatos.css">
    <link rel="stylesheet" href="./css/estilo-curso.css">
    <link rel="stylesheet" href="./css/estilo-duv.css">
    <link rel="stylesheet" href="./css/estilo-sobre.css">
    <link rel="stylesheet" href="./css/menuResposividade.css">
</head>

<body>
    <!-- TOPO DO SITE -->
    <div class="wrapper">
        <section>
            <!-- Abertura da borda/margem lateral do site 90% da tela -->
            <header>
                <!-- abertura do cabeçalho -->
                <h3>Faculdade Internacional do Pará <small>fip</small></h3> <!-- titulo/logo -->
                <img class="botao-chaveador js-botao-chaveador" src="./imgs/menu-aberto.png" alt="">
                <ul class="js-menu">
                    <li><a href="index.html">Inicio</a></li> <!-- barra de navegação menu lateral -->
                    <li><a href="index-gradu.html">Graduações</a></li> <!-- barra de navegação menu lateral -->
                    <li><a href="index-estru.html">Estrutura</a></li> <!-- barra de navegação menu lateral -->
                    <li><a href="index-sobre.html">Sobre Nos</a></li> <!-- barra de navegação menu lateral -->
                    <li class="nomeUsuario"></li>
                    <li class="botao-dados"><a class="js-redirect" href=""><span class="las la-user">
                            </span>Meus Dados</a>
                    </li>
                    <li class="botao-sair"><a><span class="las la-times"></span>Sair</a></li>
                    <!-- BTN - contato -->
                </ul>
            </header> <!-- fechamento do cabeçalho -->
        </section>


        <section class="duvidas">
            <!-- lazer -->
            <h1>PERGUNTAS FREQUENTES</h1>
            <h2>LOCAL PARA INSERIR OS CONTEUDOS</h2>
            <!-- local para adicionar novas divs -->
            <!-- local para adicionar novas divs -->
            <!-- local para adicionar novas divs -->
            <!-- local para adicionar novas divs -->
            <!-- local para adicionar novas divs -->
            <!-- local para adicionar novas divs -->
            <!-- local para adicionar novas divs -->
            <!-- local para adicionar novas divs -->

        </section>



        <!-- FINAL DO SITE PAG-01 RODAPÉ -->
        <!-- FINAL DO SITE PAG-01 RODAPÉ -->
        <section class="rodape">
            <!-- FINAL DO SITE PAG-01 RODAPÉ -->
            <h4>MIDIAS SOCIAIS</h4>
            <!-- não estar fazendo a leitura dos icones-->
            <div class="icons">
                <a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
                <a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
                <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
            </div>
            <p>Direitos Reservados 2022 - Paragominas - PA</p>
        </section> <!-- FINAL DO SITE PAG-01 RODAPÉ -->
        <!-- FINAL DO SITE PAG-01 RODAPÉ -->
        <!-- FINAL DO SITE PAG-01 RODAPÉ -->

    </div>
</body>

<!-- IMPORTS JAVASCRIPT -->
<script src="./javaspripts/nomeUsuario.js"></script>
<script src="./javaspripts/botoesSairEDados.js"></script>
<script src="./javaspripts/botaoResposividade.js"></script>
<!-- IMPORTS JAVASCRIPT -->

</html>